<div class="secret-field-container">
  <div class="secret-field">
    <input
      #secretInput
      [type]="fieldType"
      [value]="displayValue"
      [placeholder]="placeholder"
      [disabled]="disabled"
      [required]="required"
      [class.secret-input]="true"
      [class.secret-placeholder]="hasExistingValue && !value"
      class="form-control"
      (input)="onInputChange($event)"
      (focus)="onInputFocus()"
      (blur)="onInputBlur()"
      autocomplete="new-password"
    />
    
    <button
      type="button"
      class="secret-toggle"
      (click)="togglePasswordVisibility()"
      [ngbTooltip]="showPassword ? ('form.secret.hide_value' | translate) : ('form.secret.show_value' | translate)"
      container="modal"
      placement="top"
      [attr.aria-label]="showPassword ? ('form.secret.hide_value' | translate) : ('form.secret.show_value' | translate)"
    >
      <i 
        class="fa fa-fw" 
        [class.fa-eye]="!showPassword" 
        [class.fa-eye-slash]="showPassword"
      ></i>
    </button>
  </div>
  
  @if (hasExistingValue) {
  <div class="secret-description">
    {{ 'form.secret.securely_stored' | translate }}
  </div>
  }
</div>